// Colors/////////////////////////////////////////////////////////////

@document-background-color: #f5f5f5; // Light Gray
@body-background-color: #fff; // Light Gray
@link-color:            #739024; // Green
@link-color-hover:      darken(@link-color, 10%);
@menu-color:            #333333; //Lighter Black
@quote-color:           #333333;
@underline-color:       #c3c0c5; //Light Gray
@asterisk-color:        #739024; //Green
@copyright-color:       #999999; //Light Gray

//Fonts////////////////////////////////////////////////////////////////
@font-content:          'Titillium Web', sans-serif; // Main doc font
@font-quote:            'Merriweather', serif; //Quote font

//Media Queries Vars///////////////////////////////////////////////////
@desktop:   ~"only screen and (min-width: 960px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@phone:    ~"only screen and (min-width : 375px) and (max-width : 667px)";


//General//////////////////////////////////////////////////////////////

html{
    background-color: @document-background-color;
}
body {
    font-family: @font-content; 
    background-color: @body-background-color;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.23);
    display: block;
    font-size: 87.5%;
    @media @desktop {
        width: 1000px;
        margin: 0 auto;
    }
    @media @phone {
        width: 100%;
  }
    
}



a, .link {
    color: @link-color;
    text-decoration: none;
  }
a:hover {
    color: @link-color-hover;
}

h1{
    font-size: 200%;
    margin-bottom: 30px;
    text-transform: uppercase;
}
h2{
    font-size: 200%;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: @underline-color 1px solid; 
    line-height: 140%;
}
h3{
    font-size: 1.25em;
    font-weight: 300;
    margin-bottom: 10px;
    border-bottom: @underline-color 1px solid; 
    line-height: 170%;
    max-width: 90%;;
}
p{
    margin: 0 0 20px 0;
    font-size: 14px;
    line-height: 20px;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.address{

    div{
        margin-bottom: 2em; 
    }
    span{
        display: block;
        line-height: 1.25em;
    }
    .city, .postalcode{
        display: inline;
    }  
}  

 // Main Section//////////////////////////////////////////////////////
 
main {
    display: block; 
    @media @desktop {
        width: 75%;
        float: left;
    }
    @media @phone {
        width: 100%;
        margin-top: 130px;
  }
  article{
      padding: 30px;

      blockquote{
        font-family: @font-quote;
        color: @quote-color;
        font-size: 18px;
        text-align: center;
        line-height: 160%;
        padding: 0 10%;
        margin-top: 40px;
        font-weight: 700;
        font-style: italic;
      }
      blockquote:after {
        content: "";
        background: @underline-color;
        position: relative;
        top: 10px;
        left: 20%;
        width: 60%;
        height: 1px;
        display: block;
        margin-bottom: 30px;
      }
      blockquote:before {
        content: "";
        background: @underline-color;
        position: relative;
        bottom: 10px;
        left: 20%;
        width: 60%;
        height: 1px;
        display: block;
      } 
      img.responsive{

        @media @phone {
        width: inherit;
        max-width: 100%;
        }
    }  
  }
  .one-half{
    vertical-align: text-bottom;
    width: 49%;
    display: inline-block;
  }
  img{
    width: 225px;
    @media @phone {
        width: 100%;
    }
     
    border: #fff 3px solid;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.23);
    
    }
    img:after {
        content: "© Lorempixel.com";
        background: @underline-color;
        position: relative;
        bottom: 1px;
        
    }
    .responsive-image-wrapper{
        float: left;
        border: #fff 3px solid;
        margin: 0px 15px 0 0;
    }
    small{
        display: block;
        color:@copyright-color;
    }
}

//Sidebar Section///////////////////////////////////////////////////////
aside{
    display: block; 
    padding-top: 30px;
    @media @desktop {
        width: 22%;
        float: right;
    }
    @media @phone {
        width: 100%;
    }
    div.wrapper{
        @media @phone {
        padding: 30px;
        width: 94%;
        }
        @media @tablet {
            padding: 30px;
            width: 94%;
            }
    }
    li{
        margin-bottom: 5px;
    }
    section{
        margin-bottom:30px;
        }
        img.responsive{
           
            width: 100%;
             
        }
   .teaser div{
       width: 90%;
       background-color: #eeeeee;
       border: #c0c1bc 1px solid;
    p{
        padding: 10px;
    }  
   }
  }

//Header Section///////////////////////////////////////////////////

header{
    height: 65px;
    padding-top: 40px;
    @media @phone {
        display: block; 
    }
    border-bottom: @underline-color 1px solid;
    nav {
        
        @media @desktop {
            float: right;
        }
        @media @phone {
           margin-top: 27px;
            width: 100%;
        }
        list-style: none;
        li{
            @media @desktop { 
            display: inline-block;
            padding: 10px;
            }
            @media @phone { 
                display: block;
               
                
            }
            @media @tablet { 
                display: block;
               
                
            }
            
            
            a{
                font-size: 18px;
                color: @menu-color;
                padding:10px 20px;
                @media @phone { 
                    font-size: 18px;
                    color: @menu-color;
                    padding:10px 20px;
                    border: @underline-color 1px transparent;
                    border-bottom: @underline-color 1px solid;
                    border-radius: 0;
                    text-align: center;
                    display: block;
                    }   
            }
            a.active{
                @media @desktop { 
                font-size: 18px;
                color: @menu-color;
                padding:5px 20px;
                border: @underline-color 1px solid;
                border-radius: 3px;
                background-color: #e8e7e8;
                }
                @media @phone { 
                    font-size: 18px;
                    color: @menu-color;
                    padding:10px 20px;
                    border: @underline-color 1px transparent;
                    border-bottom: @underline-color 1px transparent;
                    border-radius: 0px;
                    background-color: #e8e7e8;
                    text-align: center;
                    }
            }
            a:hover,li:hover{
                font-size: 18px;
                color: @menu-color;
                padding:5px 20px;   
                border-radius: 3px;
                background-color: #e8e7e8;
                @media @phone { 
                    font-size: 18px;
                    color: @menu-color;
                    padding:10px 20px;
                    border: @underline-color 1px transparent;
                    border-radius: 3px;
                    background-color: #e8e7e8;
                    text-align: center;
                    }
            }
        }
        li.active{
            font-size: 18px;
            color: @menu-color;   
        }
    }
    .logo{
        padding-left: 30px;
        display: inline-block;
        img{
            width: 170px;
            float: left;
        }
    }
}


//Form Section/////////////////////////////////////////////////
form { 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    label {
        text-align: right;
        display: inline-block;
        vertical-align: top;
        width: 10em;
        margin: 0 1em 0 0;line-height: 150%;  
        @media @phone {
            width: 100%;
            text-align: left;
      }
    }
    div.error{
        color: red;
        @media @phone { 
            margin-left: 0;
            display: block
        }
        margin-left: 11em;
        margin-top: 5px;
    }
    .red{
        color: red;
        @media @phone {
            margin-left: 0;
            display: block
        }
        margin-left: 11em;
        display:block;
        width:100%;
        text-align: left;
    }
    .form-info{
        @media @phone {
            margin-left: 0;
            display: block
        }
        margin-left: 11em;
        margin-top: 5px;
        display:block;
        width:100%;
        text-align: left;
        margin-bottom: 0;
    }
    small{
        color: @asterisk-color;
        display: inline;
    }
    p{
        text-align: center;
    }
    input, textarea {
        padding: .7em .6em;
        display: inline-block;
        border: 1px solid #ccc;
        -webkit-box-shadow: inset 0 1px 3px #ddd;
        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 4px;
        vertical-align: middle;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 30em;
        @media @phone {
            width: 100%;
      }
    }
    .form-group{
    margin-bottom: .5em; 
    }   
  }
  button, .button {
    padding: 5px 20px;
    background: rgb(179,194,137);
    background: linear-gradient(180deg, rgba(179,194,137,1) 0%, rgba(123,150,48,1) 100%);
    border: 1px solid #536e0b;
    border-radius: 5px;
    color: white;
    display: inline-block;
}
.button.full{
    display:block;
    margin: 10px;
    text-align: center;
}


//Footer Section/////////////////////////////////////////////////
footer{
    border-top: @underline-color 1px solid;
    clear: both;
    padding: 20px;
    nav{
        float:right;
        display: inline;
    }
    li {
        display: inline-block;
        border-right: 1px #8888 solid;
        padding: 2px 10px;
    }
}

  